<div class="container ">
  <nav aria-label="Page navigation example">
    <ul class="pagination mt-5 paginationUI">
      <li class="page-item" (click)="currentPage=0">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item " [ngClass]="{disabled:0===currentPage}">
        <span class="page-link" (click)="currentPage=currentPage-1">Önceki</span>
      </li>
      <ng-container *ngFor="let item of images; let i=index">
        <li class="page-item" [ngClass]="{active:i===currentPage}" *ngIf="PageIndex(i)">
          <a class="page-link" (click)="currentPage=i" value="{i+1}">{{i+1}}</a>
        </li>
      </ng-container>

      <li class="page-item" [ngClass]="{disabled:currentPage===(images.length-1)}">
        <a class="page-link" (click)="currentPage=currentPage+1">Sonraki</a>
      </li>

      <li class="page-item" (click)="currentPage=(images.length-1)">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="mainImg">
  <h4 class="txtClass">{{images[currentPage].title}}</h4>
  <div>
    <img class="imgClass" src="{{images[currentPage].url}}">
  </div>

</div>
<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">1. Sayfada </div>
  <div *ngSwitchDefault>Nerdesin</div>
</div> -->
